[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[*.php]
charset = utf-8
indent_style = space
indent_size = 4

# Matches the exact files either package.json or .travis.yml
[composer.json]
indent_style = space
indent_size = 2